.billingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 3%;
  margin-top: 2em;
  margin-left: 3%;
  color: #313638;
}

.billingBox {
  width: 16vw;
  height: 43vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 43vh;
}

.billingBox h1 {
  font-size: 1.5rem;
}

.circle {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-bottom: 5%;
  font-size: 1.7ch;
}

.seperator {
  width: 50%;
}

.repairs {
  display: flex;
  gap: 0.5em;
}

.p {
  padding: 0;
  padding-top: 0.5em;
  margin: 0;
}

.billingItemContainer {
  margin-top: 1.5em;
}

.applyMargin1 {
  margin-top: 5.5em;
}

.applyMargin2 {
  margin-top: 3.5em;
}

.applyMargin3 {
  margin-top: 1.5em;
}

@media screen and (max-width: 1000px) {
  .billingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .billingBox {
    width: 50%;
    height: 50vh;
    margin-top: 1em;
  }

  .circle {
    width: 7vw;
    height: 7vw;
    font-size: 1ch;
  }
}
