@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600&family=Inter:wght@200&family=Poppins&display=swap");

.bikeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.8em;
  margin: 0 1em 0 0;
  border-radius: 5px;
}

.bikeWrapper {
  width: 25%;
  height: 72vh;
  background-color: #7886ff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  animation: slideInFromLeft 0.5s;
  margin-top: 2%;
}

.topInfoContainer h1 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff;
  margin-top: 2%;
}

.topInfoContainer p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-top: 1%;
}

.bikeItem {
  background-color: #4e5ff9;
  height: 8vh;
  width: 8vh;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  border-radius: 11px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  transition: transform 0.3s ease-out;
}

.bikeItem:hover {
  opacity: 0.9;
  transition: transform 0.3s ease-in;
  transform: translateY(-1.5px);
}

.bikeShadowInset {
  box-shadow: inset 8px 8px 8px rgba(0, 0, 0, 0.35);
}

.bikeType {
  width: 35%;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  display: flex;
  height: 3vh;
  background: #c99945;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  margin-top: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.applyOrange {
  color: #f3c677;
}

.applyBold {
  font-weight: bold;
}

.applyGreen {
  color: #16c172;
}

.applyRed {
  color: #b1cd26;
}

.applyPurple {
  color: #ec9ded;
}

.slideWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.slidecontainer {
  width: 50%;
  margin-top: 1em;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1.3vh;
  border-radius: 5px;
  background: white;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f57d7d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.saddle {
  font-size: 1rem;
  font-weight: lighter;
}
.saddleHeight {
  font-size: 1rem;
  font-weight: lighter;
  background: #f57d7d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 5vw;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 2em;
}

.colorGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  cursor: pointer;
}

.colorContainer {
  width: 4vw;
  height: 4vw;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1em;
  transition: transform 0.3s ease-out;
  transform: translateX(0px);
}

.colorContainer:hover {
  opacity: 0.8;
  transition: transform 0.3s ease-out infinite;
  transform: translateY(-10px) translateX(4px);
}

@keyframes hop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1000px) {
  .bikeWrapper {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .bikeWrapper {
    width: 30%;
  }
}

.topInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
